body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.leaflet-popup-content-wrapper {
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.leaflet-popup-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.leaflet-popup-content p {
    margin: 5px 0;
    color: #555;
}

.leaflet-popup-content b {
    color: #000;
}

.fab-city-icon {
    /* The new pin is already inverted, so no filter needed */
}

.fab-city-icon-inactive {
    filter: grayscale(100%);
}
