body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.leaflet-popup-content-wrapper {
    width: 300px;
    border-radius: 5px;
    padding: 10px;
}

.leaflet-popup-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.leaflet-popup-content p {
    margin: 5px 0;
}

.fab-city-icon {
    filter: invert(100%);
}

.fab-city-icon-inactive {
    filter: grayscale(100%);
}
